API_ADMIN_API_KEY=also-very-insecure
APP_CORS_ALLOW_ORIGINS=https://localhost:3100
APP_ENV=development
APP_FRONTEND_URL=https://localhost:3100/
APP_GIN_MODE=debug
BEAMER_ALLOWED_ANIMATIONS=fade,slideRight,zoomIn,flip,urgent
COLLECTORS_DISCORD_DROP_ATTACHMENTS=false
TIMETABLE_ENTRIES_PER_SLIDE=7
